.button {
  padding: 1rem 0.8rem;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--blue-dark);
  border: none;
  color: var(--white);
  font-size: medium;
}

.button:hover {
  background-color: var(--blue);
}

.button:disabled {
  background-color: lightgray;
  color: var(--blue-dark);
  cursor: not-allowed;
}
