.register-user {
  height: 500px;
  margin-top: 3rem;
  text-align: center;
}

.register-user form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.register-user h1 {
  margin-bottom: 2rem;
  color: var(--blue);
}
