.text-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-input input {
  width: 400px;
  border-radius: 5px;
  padding: 1rem 0.8rem;
  border: none;
}

.text-input label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  color: var(--blue-dark);
  font-weight: 500;
}

.text-input p {
  color: var(--red);
  font-size: small;
  text-align: left;
  height: 1rem;
}
